VITE_API_URL=http://localhost:8080/api
VITE_SOCKET_URL=http://localhost:8080

# TURN Server Configuration
VITE_TURN_URL=localhost
VITE_TURN_USERNAME=webrtc
VITE_TURN_PASSWORD=webrtc123

# SFU Server Configuration
VITE_SFU_URL=http://localhost:4000
